DwwkG0CdOSMMWqiL-RAG_Demo.json
{
  "name": "RAG - Demo",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        224
      ],
      "id": "f5d7bd17-362e-4be9-8f80-fde0c878a8cc",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "6lvaijp5nc7ywEJS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eAExYOxttWZ7TKCKXTlNKyllUDTKgnzj01CIUgzH_EQ",
          "mode": "list",
          "cachedResultName": "FAQ - KB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eAExYOxttWZ7TKCKXTlNKyllUDTKgnzj01CIUgzH_EQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "KB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eAExYOxttWZ7TKCKXTlNKyllUDTKgnzj01CIUgzH_EQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        224
      ],
      "id": "b808d233-dbd9-41f6-acd8-0241585df261",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tTd8lt768roCFb4H",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst knowledgeBase = rows.map(row => \n  `${row.json.Otázka}: ${row.json.Odpověď}`\n).join('\\n');\n\nreturn [{ json: { knowledgeBase } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        224
      ],
      "id": "cfde09b8-8fb3-4b86-8b18-aeb6fdd1a188",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jsi zákaznický support asistent pro Shop.cz. (náhodný shop)\nMáš k dispozici znalostní bázi obchodu. \nPokud otázku zákazníka dokážeš zodpovědět na základě znalostní báze, odpověz profesionálně a přátelsky česky, nemluv za sebe, mluv za firmu, tudíž neříkej „obraťte se na mě“ ale „obraťte se na nás“ .\nPokud odpověď ve znalostní bázi NENÍ, napiš pouze: ESKALOVAT\n\nZnalostní báze:\n{{ $json.knowledgeBase }}\n"
            },
            {
              "content": "={{ $('Gmail Trigger').item.json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        672,
        224
      ],
      "id": "f71ccde8-2547-4cb5-9e41-1f9cf77abc69",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "nMk3mF25vEfYGXbF",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "56c52379-7870-41ab-858d-b46292867350",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "ESKALOVAT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        224
      ],
      "id": "83f549fb-85e5-4b74-9a27-e03bc4a56629",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "jakubhad11@gmail.com",
        "subject": "=ESKALOVAT: {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "=Od: {{ $('Gmail Trigger').item.json.From }} Předmět: {{ $('Gmail Trigger').item.json.Subject }}  {{ $('Gmail Trigger').item.json.snippet }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        128
      ],
      "id": "680051c0-fd0f-471c-8b53-d4c392ef08ce",
      "name": "Send a message",
      "webhookId": "c1a5e948-61ac-42d6-8866-1f475b1ed2d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "6lvaijp5nc7ywEJS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $('Message a model').item.json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        320
      ],
      "id": "f1a604e9-01a0-4679-a18a-8c923845766b",
      "name": "Send a message1",
      "webhookId": "3f76842f-483f-4072-843a-e267aa2ae22d",
      "credentials": {
        "gmailOAuth2": {
          "id": "6lvaijp5nc7ywEJS",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}